* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body, html {
    height: 100%;
    font-family: 'Arial', sans-serif;
}

/* Split Screen Setup */
.split {
    position: fixed;
    width: 50%;
    height: 100%;
    overflow-y: auto;
    top: 0;
    padding: 40px 20px;
    color: white;
    background-size: cover;
    background-position: center;
}

.left {
    left: 0;
    background-image: url('./media/images/background.jfif');
}

.right {
    right: 0;
    background-image: url('./media/images/images.jpeg');
}

/* .overlay {
    background-color: rgba(0, 0, 0, 0.6);
    padding: 30px;
    height: 100%;
    overflow-y: auto;
} */
.main-header {
  width: 100%;
  text-align: center;
  padding: 30px 10px 10px;
  background-color: #F0E4D3;
  color: #000000;
  position: relative;
  z-index: 10;
}

.main-header h1 {
  font-size: 2.2rem;
  letter-spacing: 1px;
  font-weight: bold;
}

.main-header span {
  color: #00ffcc;
}

 .After-h1, .before-h1{
    text-align: center;
    margin-bottom: 20px;
    font-size: 2.5rem;
    color: #0a0909;
    letter-spacing: 2px;
}   

/* Grid for images
.image-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 15px;
    padding: 0 10px;
}

.image-grid img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.4);
    transition: transform 0.3s ease;
}

.image-grid i {
    font-size: 200px;
}
.image-grid img:hover {
    transform: scale(1.05);
} */

.circle-infographic {
  position: relative;
  width: 300px;
  height: 300px;
  margin: 40px auto;
  border-radius: 50%;
}

.circle-item {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: rotate(calc(90deg * var(--i))) translate(130px) rotate(calc(-90deg * var(--i)));
  text-align: center;
}

.circle-item img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
  transition: transform 0.3s ease;
}

.circle-item img:hover {
  transform: scale(1.1);
}

.circle-item span {
  display: grid;
  margin-top: 5px;
  color: #030303;
  font-size: 12px bold;
  text-shadow: 0 1px 3px rgba(0,0,0,0.7);
}

/* Responsive adjustments */
@media screen and (max-width: 768px) {
    .split {
        position: relative;
        width: 100%;
        height: auto;
    }

    .left {
        order: 1;
    }

    .right {
        order: 2;
    }

    .overlay {
        height: auto;
    }
} 
